### PL/SQL Basics

#### 1. What is PL/SQL?

    1. PL/SQL is the procedural language extension of SQL
    
    2. SQL Statements + Procedural Statements

    3. SQL Statements are used to fetch the data

    4. Procedural statements are used to process the data

#### 2. Why SQL alone is not enough?

    1. SQL doesn't support looping and conditional statements

    2. SQL cannot execute more than 1 task at a time

    3. SQL can't handle exception as per the business requirements

    4. No code re-usability

    5. No modularity or OOPs features

#### 3. PL/SQL Advantages

    1. Portable, high-performance transaction processing language

    2. Supports SQL and OOPs

    3. Better Performance

    4. Tight Security

#### 4. PL/SQL structure

    1. PL/SQL is a block-structured language i.e., broked down into logical blocks

    2. Each block consists of three sub-parts

            1 DECLARE

                <declarations section>
                consists of variables, cursors and sub-programs

            2 BEGIN

                <executable commands>
                consists of logical statements for update and retrieval etc

            3 EXCEPTION

                <exception handling section>
                consists of catch statements to catch the exceptions thrown in the previous blocks

            END;

#### 5. FIRST EXAMPLE

            DECLARE
            BEGIN
                dbms_ouput.put_line('Welcome to the course');
            END;

            OUTPUT:   
            Welcome to the course

#### 6. DECLARING VARIABLES

            DECLARE

            ordernumber number:=1001;
            
            BEGIN

                dbms_output.PUT_LINE('Welcome to the course');
                dbms_output.put_line(ordernumber);

            END;

            OUTPUT:

                Welcome to the course
                1001

#### Another way of declaring variables

            DECLARE

            ordernumber number:=1001;
            orderid number default 1002;

            BEGIN

                dbms_output.PUT_LINE('Welcome to the course');
                dbms_output.put_line(ordernumber);
                dbms_output.put_line(orderid);

            END;

            OUTPUT:

            Welcome to the course
            1001
            1002

#### Assigning a character value
            DECLARE

            ordernumber number:=1001;
            orderid number default 1002;
            customername varchar2(20):= 'Dora Babu';

            BEGIN

                dbms_output.PUT_LINE('Welcome to the course');
                dbms_output.put_line(ordernumber);
                dbms_output.put_line(orderid);
                dbms_output.put_line(customername);

            END;

            OUTPUT:
            Welcome to the course
            1001
            1002
            Dora Babu

#### Updating within the variable within the BEGIN block
            DECLARE

            ordernumber number:=1001;
            orderid number default 1002;
            customername varchar2(20):= 'Dora Babu';

            BEGIN

                dbms_output.PUT_LINE('Welcome to the course');
                dbms_output.put_line(ordernumber);
                dbms_output.put_line(orderid);
                dbms_output.put_line(customername);
                ordernumber := 5001;
                dbms_output.put_line(ordernumber);

            END;

            OUTPUT:
            Welcome to the course
            1001
            1002
            Dora Babu
            5001

#### Contant values declared in DECLARE block shouldn't be over-rided in the BEGIN block
            DECLARE

            ordernumber CONSTANT number:=1001;
            orderid number default 1002;
            customername varchar2(20):= 'Dora Babu';

            BEGIN

                dbms_output.PUT_LINE('Welcome to the course');
                dbms_output.put_line(ordernumber);
                dbms_output.put_line(orderid);
                dbms_output.put_line(customername);
                ordernumber := 5001;
                dbms_output.put_line(ordernumber);

            END;


            RESULT:
            ORA-06550: line 13, column 5:
            PLS-00363: expression 'ORDERNUMBER' cannot be used as an assignment target
            ORA-06550: line 13, column 5:
            PL/SQL: Statement ignored

#### Comments in PL/SQL

            Single Line Comment:
            -- this is a single line comment

            Multi-Line Comment:
            /* 
            This is 
            for multi
            line comments
            */

#### Scope of Variables
            DECLARE
                -- Global Variable
                NUM1 NUMBER := 100;
            BEGIN
                -- Accessing Global Variables
                DBMS_OUTPUT.PUT_LINE('Outer Variable in parent block: ' || NUM1);
                DECLARE
                    -- Local Variable
                    NUM2 NUMBER := 200;
                BEGIN
                    -- Accessing Local & Global Variables
                    DBMS_OUTPUT.PUT_LINE('Outer Variable in sub-block: ' || NUM1);
                    DBMS_OUTPUT.PUT_LINE('Inner Variable in sub-block: ' || NUM2);
                    
                END;

            END;

            Result:
            Outer Variable in parent block: 100
            Outer Variable in sub-block: 100
            Inner Variable in sub-block: 200

### Conditional Statements

#### IF then ELSE Statement
            DECLARE
                total_amount number := 120;
                discount NUMBER:= 0;
            BEGIN 
                IF total_amount >= 200 
                THEN
                DISCOUNT := total_amount * 0.2;
                ELSIF total_amount >=100 and total_amount < 200
                THEN
                    DISCOUNT := total_amount * 0.1;
                ELSE
                    discount := total_amount * 0.05;
                END IF;
                
                DBMS_OUTPUT.PUT_LINE( 'Discount : ' || DISCOUNT ); 
            END;

            RESULT:
            Discount : 12

#### Case Statement
            DECLARE
            total_amount number := 200;
            discount number := 0;
            BEGIN
                case
                    WHEN total_amount >= 200
                    then 
                        discount := total_amount * 0.2;
                    when total_amount >-100 and total_amount < 200
                    then
                        discount := total_amount * 0.1;
                    else 
                        discount := total_amount * 0.05;
                end case;
                dbms_output.PUT_LINE('Discount : ' || discount);
            END;

            RESULT:
            Discount : 40

### Looping Statements

#### While Loop
            DECLARE
                cntr number := 0;
            BEGIN
                while cntr < 10
                LOOP
                    dbms_output.put_line('Counter Value : ' || cntr);
                    cntr := cntr+1;
                END LOOP;
            END;

            Result:
            Counter Value : 0
            Counter Value : 1
            Counter Value : 2
            Counter Value : 3
            Counter Value : 4
            Counter Value : 5
            Counter Value : 6
            Counter Value : 7
            Counter Value : 8
            Counter Value : 9

#### For Loop
            DECLARE
                cntr number := 0;
            BEGIN
                -- Upper limit number is inclusive
                for cntr in 0..10
                LOOP
                    dbms_output.put_line('Counter Value : ' || cntr);
                END LOOP;
            END;

            Result:
            Counter Value : 0
            Counter Value : 1
            Counter Value : 2
            Counter Value : 3
            Counter Value : 4
            Counter Value : 5
            Counter Value : 6
            Counter Value : 7
            Counter Value : 8
            Counter Value : 9
            Counter Value : 10

#### To perform For looping in revers
            DECLARE
                cntr number := 0;
            BEGIN
                -- looping in reverse
                for cntr in reverse 0..10
                LOOP
                    dbms_output.put_line('Counter Value : ' || cntr);
                END LOOP;
            END;

            Result:
            Counter Value : 10
            Counter Value : 9
            Counter Value : 8
            Counter Value : 7
            Counter Value : 6
            Counter Value : 5
            Counter Value : 4
            Counter Value : 3
            Counter Value : 2
            Counter Value : 1
            Counter Value : 0