### Basics Assignment

            1. Write a program to declare 3 variables with datatype as below and display their values.
             Number
             Varchar
             Date

            DECLARE
                num number := 100;
                character varchar(20) := 'apple';
                bday date := TO_DATE('15-03-2002','dd-mm-yyyy');
            BEGIN
                dbms_output.put_line('Number is ' || num);
                dbms_output.put_line('String is ' || character);
                dbms_output.put_line('Date is ' || bday);
            END;
                
            Result:
            Number is 100
            String is apple
            Date is 15-MAR-02

            2. Write a program to check for a salary value and display the output based on the salary
            range (use IF condition)
             if salary is greater than 100000 then display the output as 'Grade A'
             if salary is between 50000 and 100000 then display the output as 'Grade B'
             if salary is between 25000 and 50000 then display the output as 'Grade C'
             if salary is between 10000 and 25000 then display the output as 'Grade D'
             otherwise display the output as 'Grade E'

            DECLARE
                total_salary number := 100000;
            BEGIN
                if total_salary > 100000
                then
                    dbms_output.put_line('Grade A');
                elsif total_salary > 50000 and total_salary <= 100000
                then
                    dbms_output.put_line('Grade B');
                elsif total_salary > 25000 and total_salary <= 50000
                then
                    dbms_output.put_line('Grade C');
                elsif total_salary > 10000 and total_salary <= 25000
                then
                    dbms_output.put_line('Grade D');
                ELSE
                    dbms_output.put_line('Grade E');
                end if;
            END;

            Result:
            Grade B

            3. Write a program using the same conditions as in the #2 question, but use CASE
            condition instead of IF condition.

            DECLARE
                total_salary number := 200000;
            BEGIN
                case
                when total_salary > 100000
                then
                    dbms_output.put_line('Grade A');
                when total_salary > 50000 and total_salary <= 100000
                then
                    dbms_output.put_line('Grade B');
                when total_salary > 25000 and total_salary <= 50000
                then
                    dbms_output.put_line('Grade C');
                when total_salary > 10000 and total_salary <= 25000
                then
                    dbms_output.put_line('Grade D');
                ELSE
                    dbms_output.put_line('Grade E');
                end CASE;
            END;

            Result:
            Grade A

            4. Write a program to display values from 200 to 300 using a WHILE loop.

            DECLARE
                num number := 200;
            BEGIN
                while num <=300
                loop
                    dbms_output.put_line('Value : ' || num);
                    num := num+1;
                end LOOP;
            END;

            Result:
            Value : 200
            Value : 201
            ..........
            ..........
            Value : 299
            Value : 300

            5. Write a program to display values from 200 to 300 using a FOR loop.

            DECLARE
                num number := 200;
            BEGIN
                for num in 200..300
                loop
                    dbms_output.put_line('Value : ' || num);
                end LOOP;
            END;


            Result:
            Value : 200
            Value : 201
            ..........
            ..........
            Value : 299
            Value : 300

            6. Write a program to perform below steps
             Declare a variable
             If the variable value is 1 then display values from 300 to 400 using a WHILE loop
             If the variable value is 2 then display values from 400 to 800 using a FOR loop
             If the variable value is 3 then just display “wrong choice”

            DECLARE
                num number := 2;
            BEGIN
                case
                    when num = 1
                    then
                        DECLARE
                            var number := 300;
                        BEGIN
                            while var <= 400
                            loop
                                dbms_output.put_line('Value : '|| var);
                                var := var+1;
                            end loop;
                        END;
                    when num =2
                    then
                        DECLARE
                            var number := 400;
                        BEGIN
                            for var in 400..800
                            loop
                                dbms_output.put_line('Value : '|| var);
                            end loop;
                        END;
                    when num =3
                    then
                        dbms_output.put_line('Wrong Choice');
                end case;
            END;

            Result:
            Value : 300
            Value : 301
            ...........
            ...........
            Value : 397
            Value : 398
            Value : 399
            Value : 400