### Processing Data assignment

            1. Write a program to fetch data from table SALES for a given orderid and display the data.
            (Use %TYPE when declaring variables).

            DECLARE
                dept_id HR.DEPARTMENTS.DEPARTMENT_ID%TYPE;
                dept_name HR.DEPARTMENTS.DEPARTMENT_NAME%TYPE;
            BEGIN
                SELECT DEPARTMENT_ID, DEPARTMENT_NAME
                INTO dept_id, dept_name
                FROM HR.DEPARTMENTS
                where DEPARTMENT_ID = 90;

                dbms_output.put_line('DEPT ID : '||dept_id);
                dbms_output.put_line('DEPT NAME : '||dept_name);
            END;    

            Result:
            DEPT ID : 90
            DEPT NAME : Executive

            2. Write a program to insert data into SALES table.

            DECLARE
                dept_id HR.DEPARTMENTS.DEPARTMENT_ID%TYPE := 1001;
                dept_name HR.DEPARTMENTS.DEPARTMENT_NAME%TYPE := 'Finance';
            BEGIN
                INSERT INTO HR.DEPARTMENTS(DEPARTMENT_ID, DEPARTMENT_NAME) 
                VALUES(dept_id, dept_name);

                commit;

                dbms_output.put_line('Data loaded successfully');
            END;

            3. Write a program to update data in SALES table for a given orderid (Change order
            amount to 100).

            DECLARE
                dept_id HR.DEPARTMENTS.DEPARTMENT_ID%TYPE := 90;
            BEGIN
                update HR.DEPARTMENTS set DEPARTMENT_NAME = 'Marketing'
                where DEPARTMENT_ID = dept_id;

                commit;

                dbms_output.put_line('Data Updated Successfully');
            END;

            4. Write a program to delete data from SALES table for a given orderid.

            DECLARE
                dept_id HR.DEPARTMENTS.DEPARTMENT_ID%TYPE := 90;
            BEGIN
                DELETE from HR.DEPARTMENTS
                where DEPARTMENT_ID = dept_id;

                commit;

                dbms_output.put_line('Data Deleted Successfully');
            END;